@using Microsoft.AspNetCore.Authentication
@using Microsoft.CodeAnalysis
@using MyLibrary.Constants

@section AddMapToHead{
    @*mapbox : base adding*@
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
}
<style>
    .mapboxgl-popup {
        width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
   }

    .mapboxgl-marker {
        cursor: pointer
    }
</style>


<h2>Ma page d'accueil</h2>
<dl>
    Bonjour @User.Identity.Name :)
</dl>







@* Map *@
<div id='map' style='width: 100%; height: 400px;'></div>

@section Scripts
{
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script>

        mapboxgl.accessToken = '@MyMVCConstants.MyMVC_MapBox_Token';

        // map creation
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [4.35, 50.84], // starting position
            zoom: 8 // starting zoom
        });

        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');

        // Add geolocate control to the map.
        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            }),
            'bottom-right'
        );
        // Add full screen button
        map.addControl(new mapboxgl.FullscreenControl(), 'top-right');


        // add markers
        $(document).ready(function() {
            $.getJSON("/Home/GetAddresses",
                function(data, status) {
                    if (status == "success") {
                        $.each($.parseJSON(data),
                            function(i, obj) {
                                AddMarkers(obj);
                            });
                    } else {
                        displayToastrMsg("Admin rights have ended with some issue. Please try again", "Admin rights unsaved", "Error");
                    }
                });
        });

        function AddMarkers(address) {
            var queryString = address.houseNumber + "," + address.boxNumber + "," + address.street + "," + address.zipCode + "," + address.city + "," + address.country;
            var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
            mapboxClient.geocoding
                .forwardGeocode({
                    query: queryString,
                    autocomplete: false,
                    limit: 1
                })
                .send()
                .then(function(response) {
                    if (
                        response &&
                            response.body &&
                            response.body.features &&
                            response.body.features.length
                    ) {
                        var feature = response.body.features[0];

                        var popBody = "<h5><a class='font-weight-bold text-dark' href='https://localhost:44352/Establishments/Details/"
                            + address.establishmentId + "' target='_blank'>" + address.establishmentName + "</a></h5><hr/>"
                            + "<h6 class='font-italic text-secondary'>" + address.establishmentType + "</h6>"
                            + "<p class='text-secondary'> Open from : " + address.openHour + " / to :" + address.closeHour+ "</p>";
                        // Adds the marker
                        new mapboxgl.Marker()
                            .setLngLat(feature.center)
                            .setPopup(new mapboxgl.Popup().setHTML(popBody))
                            .addTo(map);
                    }
                });
        };

    </script>
}