@using Microsoft.AspNetCore.Authentication

<h2>Ma page d'accueil</h2>

<dl>
    blablabla

</dl>

@*<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>*@